.a-body .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-scene {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-scene .a-enter-vr {
	bottom: 65px;
}

#heatmap {
    height: 100%;
    z-index: 99999;
}

button.show-map-btn {
    position: absolute;
    top: 10px;
    z-index: 999999;
    right: 10px;
}

img#compass {
    transform: rotate(0deg);
    z-index: 10;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.popover-box {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 20px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid;
}